.banner {
  background-size: cover;
  height: 220px;
  padding: 150px 20px;
}

.banner h1 {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
}
.banner p {
  padding-bottom: 15px;
  color:  white;
  opacity: 0.8;
  font-weight: lighter;
  font-size: 24px;
  text-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
